/* Agendar */

.busqueda-profesionales {
    max-width: 420px;
    padding: 2rem;
    width: 100%;
    /*box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);*/
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #FFF;
    border: 3px solid rgba(59, 193, 205, 0.3);
    display: flex;
    align-items: center;
}

    .busqueda-profesionales h2 {
        font-size: 1.375rem;
        color: #3BC1CD;
        font-weight: 500;
    }

.busqueda-profesionales .dropdown .btn {
    width: 100% !important;
    text-align: left;
}

    .busqueda-profesionales .dropdown .btn.dropdown-toggle:after {
        float: right !important;
        margin-top: .5rem;
    }

    .busqueda-profesionales .dropdown .dropdown-menu {
        width: 100% !important;
    }

.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #3BC1CD;
    border-color: #3BC1CD;
}