
.user-circle {
    background-color: skyblue;
    display: grid;
    place-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 3rem;
    color: #FFF;
    position: relative;
}

/* .user-circle:hover::after {
    content: '';
    display: inline-block;
    background-color: blue;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    animation: pulse 1250ms infinite;
} */

.user-circle.pulse-user::after {
    content: '';
    display: inline-block;
    background-color: blue;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    animation: pulse 1250ms infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.75;
    }
    100% {
        transform: scale(1.35);
        opacity: 0;
    }
}