.avatar-profesional {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 246px;
  width: 100%;
  position: relative;
}

.avatar-profesional .nombre-profesional {
  font-size: 2rem;
  font-weight: 900;
  color: #0081A4;
  margin-top: 1.8rem;
}

.avatar-profesional .especialidad {
  text-transform: uppercase;
  font-size: 1rem;
  color: #0081A4;
}

.img-pro {
  width: 234px;
  height: 234px;
  border-radius: 200px;
  overflow: hidden;
  background-color: #F2C94C;
  position: relative;
}

.img-pro img {
  width: 100%;
  height: auto;
  object-fit: cover;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
}
/*# sourceMappingURL=avatar-pro.css.map */