/*Caja atencion*/

.caja-atencion {
    background-color: #FFF;
    color: #666;
    border: 1px solid rgba(59, 193, 205, 0.3);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    transition: all .3s ease-out;
}

    .caja-atencion:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

.caja-atencion .datos-fecha {
    margin-right: 0;
    max-width: none;
}

    .caja-atencion .header-aviso-atencion {
        margin-bottom: 1rem;
        display: inline-block;
    }

    .caja-atencion .fecha-atencion, .caja-atencion .hora-atencion {
        color: #0081A4;
    }

    .caja-atencion .header-aviso-atencion i {
        color: #777;
    }
    .caja-atencion .calificacion {
        color: #3BC1CD;
    }

.caja-atencion .calificacion .positiva {
     color: #FFAF36;
 }