/* Caja Profesional */

.caja-profesional {
    border-radius: 10px;
    min-height: 350px;
    /* width: 15rem; */
    transition: all ease-out .3s;
    border: none;
    border: 1px solid transparent;
}

.caja-profesional:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #3BC1CD;
}

.caja-profesional img {
/*     object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}

.caja-profesional .cont-data {
    display: flex;
    align-items: stretch;
    height: 100%;
    justify-content: space-between;
}

.caja-profesional .header-aviso-atencion {
    margin-bottom: .8rem;
    display: inline-block;
    font-weight: 700;
}

.caja-profesional .fecha-atencion {
    text-align: left;
    font-weight: 700;
    color: #666;
}

.caja-profesional .hora-atencion {
    text-align: left;
    color: #0081A4;
}


.caja-profesional .header-aviso-atencion, 
.caja-profesional .header-aviso-atencion i {
    color: #3BC1CD;
}

.caja-opciones {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.caja-opciones a {
    color: #3BC1CD;
    font-size: 22px;
}
.caja-opciones a:hover {
    color: #0081A4;
}

.caja-profesional .titulo-profesional {
    font-size: 1rem;
}

.aviso-hora {
    color: #FFAF36;
}

.cont-img-card {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    overflow: hidden;
    display: block;
    margin: 2rem auto;
}

.cont-img-card img {
    object-fit: cover;
    width: 100%;
}