

.wrap {
  height: 250px;
  width: 250px;
  // border-radius: 100%;
  // margin: 0 auto;// 
}
.wrap .card-medismart {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.wrap .card-medismart.flipped {
  transform: rotateY(180deg);
}
.wrap .card-medismart .front,
.wrap .card-medismart .back {
  position: absolute;
  width: 98%;
  height: 98%;
  line-height: 250px;
  color: darkslategrey;
  text-align: center;
  font-size: 1.3em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: lightblue;
 // border-radius: 100%;
  border: 3px solid dimgrey;
}
/* .wrap .card-medismart .front img {
object-fit:cover;
width:100%;
height:100%;
border-radius:100%;
} */
/* .wrap .card-medismart .front:after {
  content: '->';
  position: absolute;
  bottom: -38%;
  left: 0;
  right: 0;
  font-size: 1.6em;
  color: rgba(255,255,255,.5);
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */
.wrap .card-medismart .back {
  transform: rotateY(180deg);
  background: darkslategrey;
  color: #fff;
}
/* @media (max-width:767px) {
.grid {
  display:block;
}
.grid .wrap {
  margin-bottom:30px;
}
} */