/* Chat */
.temp-container {
  width: 100%;
  max-width: 600px;
  border: 1px solid #DDD;
}

.cont-chat {
  padding: 2rem;
}

.user-chat {
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
  line-height: 1.2;
}

.user-chat .nombre-profesional {
  font-size: 0.8rem;
  font-weight: 700;
  display: block;
}

.user-chat .status-profesional {
  height: 6px;
  width: 6px;
  border-radius: 4rem;
}

.user-chat .status-profesional.online {
  background-color: #1DC9B7;
}

.user-chat .leyenda-status {
  font-size: 0.6rem;
}

.user-chat * {
  display: inline-block;
}

.message-chat {
  width: 100%;
  margin-bottom: .5rem;
}

.message-user {
  max-width: 75%;
  min-width: 200px;
  width: auto;
  border: 1px solid #DDD;
  display: inline-block;
  padding: .5rem 1.2rem;
  border-radius: 5px;
  line-height: 1.6;
}

.data-message {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.data-message * {
  display: inline-block;
  margin-right: .5rem;
}

.cont-data {
  display: flex;
  align-items: baseline;
}

.nombre-chat {
  font-weight: 700;
  color: #666;
}

.tiempo-respuesta {
  font-size: 0.9em;
}

.usuario-chat1 {
  text-align: right;
}

.usuario-chat1 .message-user {
  border: 1px solid #B3E6F5;
  background-color: #E9FAFF;
  color: #2E98B5;
}

.usuario-chat1 .cont-data {
  margin-right: 0;
  flex-direction: row-reverse;
}

.usuario-chat1 .avatar-chat {
  margin-right: 0;
}

.usuario-chat1 .message-chat {
  float: right;
}

.usuario-chat1 .loading-message {
  align-self: flex-end;
}

.check {
  color: #27AE60;
  font-size: 1rem;
}

.check * {
  margin-right: -4px;
}

.avatar-chat {
  width: 30px;
  height: 30px;
  background-color: #288199;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border-radius: 20px;
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
}

.avatar-chat img {
  object-fit: cover;
}

.loading-message {
  width: 52px;
  display: inline-block;
  animation-name: opacityRound;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.loading-message .round {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #2E98B5;
  margin-right: 0.2rem;
  display: inline-block;
}

.loading-message .round:last-child {
  margin-right: 0;
}

@keyframes opacityRound {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: .2;
  }
}
/*# sourceMappingURL=chat.css.map */