/* Chat */

.temp-container {
    width: 100%;
    max-width: 600px;
    border: 1px solid #DDD;
}

.cont-chat {
    padding: 2rem;
}

.user-chat {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    line-height: 1.2;
    .nombre-profesional {
        font-size: 0.8rem;
        font-weight: 700;
        display: block;
    }
    .status-profesional {
        height: 6px;
        width: 6px;
        border-radius: 4rem;
        &.online {
            background-color: #1DC9B7;
        }
    }
    .leyenda-status {
        font-size: 0.6rem;
    }
    * {
        display: inline-block;
    }
}

.message-chat {
    width: 100%;
    margin-bottom: .5rem;
}

.message-user {
    max-width: 75%;
    min-width: 200px;
    width: auto;
    border: 1px solid #DDD;
    display: inline-block;
    padding: .5rem 1.2rem;
    border-radius: 5px;
    line-height: 1.6;
}

.data-message {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    * {
        display: inline-block;
        margin-right: .5rem;
    }
    
}

.cont-data {
    display: flex;
    align-items: baseline;
}

.nombre-chat {
    font-weight: 700;
    color: #666;
}

.tiempo-respuesta {
    font-size: 0.9em;
}

.usuario-chat1 {
    text-align: right;
    .message-user {
        border: 1px solid #B3E6F5;
        background-color: #E9FAFF;
        color: #2E98B5;
    }
    .cont-data {
        margin-right: 0;
        flex-direction: row-reverse;
    }
    .avatar-chat {
        margin-right: 0;
    }
    .message-chat {
        float: right;
    }
    .loading-message {
        align-self: flex-end;
    }
}



.check {
    color: #27AE60;
    font-size: 1rem;
    * {
        margin-right: -4px;
    }
}

.avatar-chat {
    width: 30px;
    height: 30px;
    background-color: #288199;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 20px;
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
    img {
        object-fit: cover;
    }
}

.loading-message {
    width: 52px;
    display: inline-block;
    .round {
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background-color: #2E98B5;
        margin-right: 0.2rem;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
    }
    animation-name: opacityRound    ;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes opacityRound {
    0%   {opacity: .2;}
    50%  {opacity: .8;}
    100% {opacity: .2;}
  }
  