/* Confirmación Hora */


.formulario-confirma-hora .header-formulario {
    display: flex;
    align-items: center;
}

.carga-archivos {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid rgba(59, 193, 205, 0.5);
    padding-left: 2rem;
}

.carga-archivos h3 {
    font-size: 1rem;
    font-weight: 700;
    color: #3BC1CD;
}

.custom-file-label {
    border: 1px solid rgba(59, 193, 205, 0.5);
    text-transform: uppercase;
    color: #0081A4;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 700;
}

.custom-file-label::after {
    background-color: #fff;
    border-left: none;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    font-family: 'FontAwesome';
    content: "\f178";
    color: #0081A4;
}


@media (max-width: 1024px) {
    .carga-archivos {
        margin-top: 2rem;
        padding-left: 0;
        align-items: stretch;
        justify-content: space-between;
        border-left: none;
    }
}