/* Formulario Agendamiento */

.formulario-agendamiento {
    display: flex;
    background-color: #FFF;
    color: #666;
    border: 1px solid rgba(59, 193, 205, 0.3);
    border-radius: 10px;
    padding: 4.375rem;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.aviso-plataforma, .formulario-confirmacion {
}

.formulario-agendamiento h3 {
    font-size: 1.25rem;
}

.aviso-plataforma {
    text-align: center;
    /* border-right: 1px solid rgba(59, 193, 205, 0.3); */
    padding-right: 2rem;

}

.aviso-plataforma .foto-profesional {
    width: 168px;
    height: 168px;
    margin: 2rem auto;
    display: block;
}

.foto-profesional img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.aviso-plataforma h1 {
    font-size: 1.5rem;
    color: #0081A4;
    font-weight: 700;
}
.aviso-plataforma p {
    font-size: 1rem;
}

.check-aceptacion {
    text-align: left;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(59, 193, 205, 0.3);
}

.check-aceptacion a {
    color: #3BC1CD;
    text-decoration: underline;
}
.check-aceptacion label {
    font-size: 0.7rem;
    display: block;
    padding-left: 1.5rem;
}

.check-aceptacion .form-check-input {
    margin-left: 0;
    display: inline-block;
}

.formulario-confirmacion {
    border-left: 1px solid rgba(59, 193, 205, 0.3);
    padding-left: 2rem;
}

.formulario-confirmacion label {
    font-size: 1rem;
    color: #0081A4;
    font-weight: 700;
}

.formulario-confirmacion .header-formulario {
    display: flex;
    align-items: center;
}

.header-formulario i {
    color: #FFAF36;
    margin-right: 1.5rem;
    font-size: 3rem;
}
.header-formulario strong {
    color: #FFAF36;
}

.header-formulario {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.num-doc {
    position: relative;
}

#input-info {
    cursor: pointer;
}

.tip-documento {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    min-width: 200px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(59, 193, 205, 0.3);
    padding: .5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    animation-name: tipOpen;
    animation-duration: .3s;
    display: none;
    z-index: 20;
}

.tip-documento img {
    width: 100%;
    max-width: 100%;
}

.tip-documento.show-tip {
    display: block;
}

.tip-documento .btn-close {
    border: none;
    background-color: #EB5757;
    outline: 0;
    color: #FFF;
    position: absolute;
    top: .3rem;
    right: .3rem;
    font-weight: 700;
    border-radius: 20px;
    height: 26px;
    width: 26px;
    transition: all .3s ease-out;
}

.tip-documento .btn-close:hover {
    background-color: #581818;
}

@keyframes tipOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 1024px) {
    .aviso-plataforma {
        padding-right: 0;
    }
    .formulario-agendamiento {
        padding: 2rem;
    }
    .foto-profesional {
        margin-top: 0;
    }
    .formulario-confirmacion  {
        border-left: none;
        padding-left: 0;
    }
    .header-formulario i {
        margin-right: .5rem;
    }
    .header-formulario {
        margin-bottom: 1rem;
    }
}