body {
    font-family: 'Muli', sans-serif !important;
    background-color: #f9f9fc !important;
    font-size: 1rem !important;
    /*#f9f9fc*/
}

.titulo-seccion {
    font-size: 22px;
    color: #3BC1CD;
    font-weight: 700;
}

.calificacion {
    color: #3BC1CD;
    font-size: 1rem;
}

.calificacion .positiva {
    color: #FFAF36;
}

a {
    transition: all ease-out .3s;
}

.btn {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.caja-base {
    background-color: #FFF;
    color: #666;
    border: 1px solid rgba(59, 193, 205, 0.3);
    border-radius: 10px;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
}

/*Forms*/
.form-group .ms-label {
    font-weight: 700 !important;
    color: #0081A4 !important;
}

.kt-login.kt-login--v3 
.kt-login__wrapper 
.kt-login__container 
.kt-form .form-control {
    margin-top: 0;
}

.invalid-feedback {
    color: #EB5757;
    padding-left: 0 !important;
}
/*Buttons*/
.btn {
    cursor: pointer;
    padding: 0.625rem 2.5rem !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.kt-login.kt-login--v3 
.kt-login__wrapper 
.kt-login__container 
.kt-form .kt-login__actions 
.kt-login__btn-secondary, 
.kt-login.kt-login--v3 
.kt-login__wrapper 
.kt-login__container 
.kt-form 
.kt-login__actions 
.kt-login__btn-primary {
    height: 40px !important;
}

.btn-primary {
    background-color: #3BC1CD;
    border-color: #3BC1CD;
}

.btn-primary:hover {
        background-color: #0081A4;
        border-color: #0081A4;
    }

.btn-outline-primary {
    color: #3BC1CD;
    border-color: #3BC1CD;
}

    .btn-outline-primary:hover {
        background-color: #3BC1CD;
        border-color: #3BC1CD;
        color: #FFF;
    }


    .btn-secondary-ms {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

.kt-aside__brand {
    padding: 0 16px !important;
}

.titulo-data-horario {
    border: 1px solid #ffb822;
    color: #ffb822;
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    margin: 1rem;
}