/*Header*/

.kt-header__topbar
.kt-header__topbar-item
.kt-header__topbar-icon i {
    font-size: 1.5rem;
    color: #0081A4;
}

.foto-usuario {
    display: inline-block;

}

.foto-usuario img {
    width: 56px;
    height: 56px;
}

#nombreCompleto {
    color: #0081A4
}