/*Inicio*/



.kt-aside .kt-aside-menu {
    padding: 0 0;
}


@media (min-width: 1025px) {
    .ms-aside {
        border-right: 1px solid rgba(59, 193, 205, .3) !important;
        box-shadow: none !important;
    }

    .kt-header--fixed:not(.kt-subheader--fixed) .kt-header {
        box-shadow: none !important;
        border-bottom: 1px solid rgba(59, 193, 205, .3) !important;
    }

    .ms-menu__link a {
        color: red !important
    }
    .kt-aside .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
        flex-direction: column !important;
    }
    .kt-aside--minimize .kt-aside-menu .kt-menu__nav > .kt-menu__item {
        margin-bottom: 40px;
    }
    .kt-aside--minimize .kt-aside-menu .kt-menu__nav {
        padding: 0;
        margin-top: 80px;
    }

}

/*Home*/

.top-banner {
    display: flex;
    width: 100%;
    background-image: url(../../img/fondo-banner.svg);
    background-repeat: repeat-x;
    background-position: left center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.top-banner .legend {
    font-weight: 700;
    font-size: 32px;
    color: #0081A4;
    margin-left: 85px;
}

.top-banner img {
    width: 100px;
    height: 100px;
    border: 3px solid rgba(59,193,205,.5)
}

/* Aviso Atención*/

.aviso-atencion {
    background-color: #3BC1CD;
    border-radius: 10px;
    height: 135px;
    color: #FFF;
    margin-bottom: 1rem;
    /*max-width: 490px;*/
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: all .3s ease-out;
}

.aviso-atencion:hover {
    background-color: #0081A4;
}


.header-aviso-atencion {
    /*font-weight: 700;*/
    font-size: 0.875rem;
}

.header-aviso-atencion i {
    font-size: 16px;
    color: rgba(255,255,255,.5);
    margin-right: 5px;
}

.foto-profesional {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}

.cont-foto-profesional {
    width: 150px;
    height: 135px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.nombre-profesional {
    font-size: 22px;
    display: block;
    line-height: 1.2;
}

.titulo-profesional {
    font-size: 12px;
}

.datos-fecha {
    width: 100%;
    max-width: 320px;
    margin-top: 1rem;
}

.fecha-atencion {
    display: block;
    font-size: 1.625rem;
    font-weight: 900;
    color: rgba(255,255,255, .7);
    text-align: right;
    /*width: 130px;*/
}

.hora-atencion {
    font-size: 1rem;
    /*width: 130px;*/
    display: block;
    text-align: right;
}