/*Lista de Archivos*/

.lista-archivos {
    height: auto;
    overflow: hidden;
}

#divHistorial .kt-portlet__body {
    height: 630px;
    overflow-y: auto;
}


@media (max-width: 1024px)  {
    .video-container {
        display: flex;
        width: 100%;
        height: calc(100% - 20px);
        min-height: 75vh;
        border-radius: 0;
        align-items: stretch;
    }
    .kt-header-mobile--fixed .kt-wrapper {
        padding-top: 40px;
    }
}