/*Layout Login*/

.kt-login__forgot,
.kt-login__signin {
    min-height: 370px;
}


.kt-login.kt-login--v3
.kt-login__wrapper
.kt-login__container
.kt-login__head .kt-login__title {
    font-size: 36px;
    color: #3BC1CD;
    font-weight: 300 !important;
    margin-top: 50px;
    text-align: left;
    width: 220px;
}

.kt-login.kt-login--v3 
.kt-login__wrapper 
.kt-login__container 
.kt-login__head .kt-login__desc {
    text-align: left;
}

.kt-login.kt-login--v3 .kt-login__wrapper {
    padding: 0;
    margin: 0 auto 2rem auto;
    overflow: hidden;
}

.bkg-login {
    max-height: 100vh;
    overflow: hidden;

}

.bkg-login img {
    width: 100%;
    height: auto;
}

.logo-convenios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.logo-convenios img {
    width: 150px;
    height: auto;
 }

 .logotipo {
     width: 100%;
     height: auto;
 }


 /*Mediaqueries Login*/

@media (max-width: 991.98px) {

    body {
        background-color: #f0f0f0 !important;
    }

    .kt-login.kt-login--v3 
    .kt-login__wrapper 
    .kt-login__container 
    .kt-login__head {

    }

    .cont-logo-mobile {
        height: 150px;
    }

    .container-login {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        min-height: calc(100vh - 150px);
        background-color: #f9f9fc;
    }
    .logotipo {
        max-width: 300px;
        height: auto;
        margin-top: 3.5rem;
    }

    .logotipo img {
        width: 100%;
        max-width: 300px;
    }

    .logo-convenios img {
        width: 100px;
    }


    .kt-login.kt-login--v3 .kt-login__wrapper {
        max-width: 300px;
        margin-top: 50px;
    }

    .kt-login.kt-login--v3
    .kt-login__wrapper
    .kt-login__container
    .kt-login__head
    .kt-login__title {
        font-weight: 300;
        /*font-size: 24px;*/
        margin-top: 0;
    }
}