@media (max-width: 1024px) {
  /*Card*/
  .kt-portlet .kt-portlet__body {
    padding: 2rem 2rem;
  }
  /*Toolbar Top Mobile*/
  .cont-toolbar-options {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .cont-toolbar-options li {
    display: inline-block;
    margin-right: 10px;
    /* width: 40px;
        height: 70px;*/
    text-align: center;
  }

  .cont-toolbar-options li:last-child {
    margin-right: 0;
  }
  .cont-toolbar-options li a {
    color: #0081a4;
    width: 100%;
    height: 100%;
  }

  .cont-toolbar-options li a i {
    font-size: 2rem;
  }

  .cont-toolbar-options .label-options {
    text-transform: uppercase;
    font-size: 8px !important;
    display: block;
    font-weight: 500;
  }

  .kt-header-mobile {
    height: 75px;
  }

  .kt-header-mobile img {
    max-width: 170px;
  }
  .mensaje-mobile {
    font-size: 1.2rem !important;
    font-family: "Muli", sans-serif;
    color: #666;
    text-align: center;
    margin-bottm: 1rem;
  }
  .saludo-usuario {
    color: #f2994a;
    font-weight: 700;
  }

  .top-banner {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    background-position: left 100px;
    border: 1px solid rgba(59, 193, 205, 0.3);
    padding: 1.5rem;
    border-radius: 10px;
    height: 145px;
  }

  .top-banner .legend {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin-left: 0;
    margin-top: 1rem;
  }

  .top-banner img {
    width: 70px;
    height: 70px;
    border: 3px solid rgba(59, 193, 205, 0.5);
    margin-right: 1rem;
  }

  /*Toolbar Bottom Mobile*/
  .toolbar-bottom-mobile {
    position: fixed;
    z-index: 10;
    background-color: #fff;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .toolbar-bottom-mobile i {
    font-size: 2.25rem;
  }

  .toolbar-option {
    color: #3bc1cd;
  }

  .toolbar-option.active {
    color: #ffaf36;
  }

  .toolbar-bottom-mobile .label-options {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 10px !important;
  }

  .cont-cambio-clave {
    margin-bottom: 4rem !important;
  }
}
