/* Mensaje confimación hora*/

.mensaje-confirmacion.caja-base {
    padding: 2rem 2rem;
}
.mensaje-confirmacion strong {
    color: #FFAF36;
}

.mensaje-confirmacion p {
    font-size: 1rem;
}

.mensaje-confirmacion .caja-profesional {
    border: 1px solid #EEE;
    min-height: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.mensaje-confirmacion .caja-profesional:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.mensaje-confirmacion .cont-convenios {
    justify-content: space-evenly;
}

.mensaje-confirmacion .valor-consulta {
    border-top: none;
    font-size: 2rem;
}

.header-mensaje {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mensaje .logotipo {
    max-width: 200px;
    margin-bottom: 1rem;
}
.header-mensaje i {
    font-size: 3rem;
    color: #FFAF36;
}

.mensaje-confirmacion .caja-opciones {
    display: none;
}


@media (max-width: 1024px) {
    .mensaje-confirmacion .fecha-atencion,
    .mensaje-confirmacion .hora-atencion,
    .mensaje-confirmacion .header-aviso-atencion {
        display: none !important;
    }

    .mensaje-confirmacion .caja-profesional {
        border: none;
        justify-content: space-between;
    }

    .mensaje-confirmacion .caja-profesional img {
        width: 60px;
        height: 60px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: inline-block;
        margin-right: 1rem;
    }

    .mensaje-confirmacion .card {
        flex-direction: row;
        margin-bottom: 2rem;
    }

    .mensaje-confirmacion .card:hover {
        box-shadow: none;
    }

    .mensaje-confirmacion .card-body {
        padding: 0;
        justify-content: flex-start;
    }

    .mensaje-confirmacion .cont-convenios {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .mensaje-confirmacion .custom-radio {
        margin-bottom: 2rem;
    }
    .mensaje-confirmacion .custom-radio:last-child {
        margin-bottom: 1rem;
    }
    .mensaje-confirmacion .caja-profesional {
        box-shadow: none;
    }

    .header-mensaje {
        border-top: 1px solid rgba(59, 193, 205, 0.3);
    }

    .header-mensaje .logotipo {
        margin-top: 2rem;
    }

    .header-mensaje i {
        font-size: 2rem;
    }
}