.modal-validacion {
  max-width: 814px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
}

.modal-validacion label {
  display: block;
  font-weight: 700;
  color: #666;
}

.modal-validacion .form-group {
  margin-bottom: .5rem;
}

.modal-validacion .cont-btn-valida .btn {
  display: inline-block;
  padding: .4rem 1rem  !important;
  box-shadow: none;
}

.modal-validacion .cont-btn-valida .btn i {
  font-weight: 700;
}

.modal-validacion .cont-btns {
  display: flex;
}

.modal-validacion .cont-btns .btn {
  display: inline-block;
  margin-bottom: 1rem;
}

.modal-validacion .cont-btns .btn:last-child {
  margin-left: auto;
}

.cont-alerta-sala {
  position: absolute;
  z-index: 50;
  left: 0;
  right: 0;
  top: 1rem;
  text-align: center;
}

.alerta-sala {
  width: 80%;
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-size: 1rem;
  text-align: center;
  padding: 1.4rem;
  position: relative;
  margin: 0 auto;
  border-radius: .5rem;
}

.alerta-sala p {
  width: 80%;
  margin: 0 auto;
}

.alerta-sala .icono-alerta {
  position: absolute;
  top: .5rem;
  right: 1rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .modal-validacion .cont-btns {
    display: block;
  }
  .btn-validacion {
    display: block !important;
  }
}
/*# sourceMappingURL=modal-validacion.css.map */