  /* Paneles */

  .panel-sala {
    background-color: rgba(255,255,255,.9);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    // height: 100%;
    z-index: 100;
    transform: translateX(calc(100% + 400px));
    transition: all .3s ease-out;
    padding: 2rem 1rem;

    .btn-icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgba(0,0,0,.4);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        transition: all .3s ease-out;
        &:hover {
            background-color: #0081A4;
        }
    }
  }

  .panel-sala.show-panel {
    transform: translateX(0)
  }


  .sala-espera.show-panel {
    // transform: translateX(-400px)
}

@media (max-width: 991.98px) { 
    .panel-sala {
        width: 100%;
        max-width: 400px;
        position: absolute;
        transform: translateX(0);
        display: none;
    }
    .panel-sala.show-panel {
        display: block;
        transform: translateX(0);
      }
 }
  