/* Perfil Profesional */

.perfil-profesional {
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid rgba(59, 193, 205, 0.5);
    width: 450px;
    color: #666;
}

.perfil-profesional .nombre-profesional {
    font-weight: 900;
}

.perfil-profesional .header-perfil {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.perfil-profesional h3 {
    font-size: 1rem;
    font-weight: 900;
}

.perfil-profesional .foto-profesional {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-right: 1rem;
}

.valor-consulta {
    border-top: 1px solid rgba(59, 193, 205, 0.5);
    padding-top: 1rem;
    padding-bottom: 0;
    text-align: right;
    color: #0081A4;
    font-weight: 700;
}
.valor-consulta .valor {
    font-size: 1.875rem;
}

.valor-consulta .label-valor {
    font-size: 0.8rem;
}

.label-valor small {
    font-size: 1.25rem;
}
.cont-convenios {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 1rem 0;
}

.img-convenio {
    width: 48%;
}

.cont-convenios img {
    max-width: 115px;
    height: auto;
    display: inline-block;
}

.lista-certificaciones {
    padding-left: 0;
    list-style-type: none;
}

.lista-certificaciones li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.img-list {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #666;
    display: inline-block;
    margin-right: 1rem;
}

.nota-valor {
    font-size: 11px;
    display: block;
    font-weight: 500;
}