/* Reserva de Horas */

.caja-reserva {
    border-radius: 10px;
    transition: all ease-out .3s;
    border: 1px solid rgba(59, 193, 205, 0.5);
    background-color: #fff;
}

/* Selector de horas */
.seleccion-horas {
    padding: 2rem;
    margin: 2rem;
}

.seleccion-horas .header-seleccion-horas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-data-horario {
    font-size: 1.2rem;
    display: block;
    font-weight: 900;
}

.hora-top {
    font-size: 3.5rem;
    color: #3BC1CD;
    font-weight: 900;
}

.selector-horas {
    display: inline-block;
    cursor: pointer;
}

.selector-horas i {
    font-size: 24px;
    color: #3BC1CD;
}

.selector-horas:hover i {
    color: #FFAF36;
}

.data-horario {
    font-size: 1.2rem;
    color: #0081A4;
}

.titulo-data-horario {
    font-weight: 700;
}

.lista-horas {
    list-style-type: none;
    padding-left: 0;
}

.lista-horas .hora {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(59, 193, 205, 0.5);
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-out;
}

.lista-horas .hora:hover {
    background-color: #f7f7f7;
}

.horario {
    display: flex;
    align-items: center;
}

.horario .hora-top {
    margin-right: .5rem;
}

.detalle-hora {
    font-size: 1.875rem;
    color: #C4C4C4;
    margin-right: 2rem;
    display: inline-block;
}

.estado-hora {
    width: 174px;
    text-align: center;
}

.estado-hora small {
    font-size: 0.8rem;
    /* padding: 0 2rem; */
    text-align: center;
    border-radius: 10px;
    width: 100px;
    display: inline-block;
}

.hora.disponible small {
    background-color: #3BC1CD;
    color: #FFF;
}

.hora.ocupado small {
    background-color: #DDD;
    color: #999;
}

.hora.seleccionado small {
    background-color: #FFAF36;
    color: #FFF;
}

.hora.disponible .detalle-hora{
    color: #3BC1CD;
}

.hora.ocupado .detalle-hora{
    color: #c4c4c4;
}

.hora.seleccionado .detalle-hora{
    color: #FFAF36;
}

@media (max-width: 1024px) {
    .seleccion-horas {
        margin: 0;
        padding: 1rem 0;
    }
    .estado-hora {
        display: none;
    }
    .lista-horas {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 1rem;
        padding-top: .5rem;
        border-top: 1px solid rgba(59, 193, 205, 0.5);
    }
    .lista-horas .hora {
        border-top: none;
        padding: .5rem;
        text-align: center;
        border-radius: 10px;
    }
    .detalle-hora {
        font-size: 1rem;
        margin-right: 0;
        font-weight: 900;
    }
    .titulo-data-horario {
        font-size: 1rem;
    }
    .data-horario {
        font-size: 1rem;
    }
    .hora-top {
        font-size: 2rem;
    }
    
}
