/*#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#publisher {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#overlay_text {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

#btnCamera {
    position: absolute;
    bottom: 20px;
    left: 45%;
    display: none;
}

@media (max-width: 1560px) {
    #btnCamera {
        left: 45%;
    }
}

@media (min-width: 1160px) and (max-width: 1559px) {
    #btnCamera {
        left: 43%;
    }
}

@media (min-width: 1001px) and (max-width: 1159px) {
    #btnCamera {
        left: 42%;
    }
}

@media (min-width: 550px) and (max-width: 999px) {
    #btnCamera {
        left: 41%;
    }
}

@media (max-width: 549px) {
    #btnCamera {
        left: 37%;
    }
}
 */


 #videos {
    /*position: relative;
    width: 100%;
    height: 100%;
        */
}

#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 20px);
    z-index: 5;
    border-radius: 10px;
}

#publisher {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 20px);
    z-index: 6;
    border-radius: 10px;
}

#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: calc(100% - 20px);
    z-index: 8;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 74, 94, 0.8) 13.8%, rgba(20, 20, 20, 0) 99.97%);
}

#overlay_text {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

/*#btnCamera {
    position: absolute;
    bottom: 20px;
    left: 45%;
    display: none;
}*/

.OT_widget-container {
    border-radius: 10px;
    z-index: 4;
}



@media (max-width: 1024px) {
    #overlay, #publisher, #subscriber {
        border-radius: 0;
    }
    /*Videoconsulta*/


    .video-container {
        display: flex;
        width: 100%;
        height: calc(100% - 20px);
        min-height: 75vh;
        border-radius: 10px;
        align-items: stretch;
    }

        .video-container .overlay {
            border-radius: 10px;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            z-index: 2;
            position: absolute;
            background: linear-gradient(0deg, rgba(0, 74, 94, 0.8) 13.8%, rgba(20, 20, 20, 0) 99.97%);
        }

    .cont-video-ui {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .message-connect {
        color: #FFF;
        font-size: 1.8rem;
        text-align: center;
        width: 90%;
        max-width: 370px;
        margin: 0 auto;
    }

    .timer-box {
        background-color: #FFF;
        border-radius: 10px;
        width: 130px;
        color: #666;
        padding: 1rem;
        margin: 0 auto;
    }

        .timer-box small {
            display: block;
            font-size: 1rem;
        }

    .cont-video-ui-tools {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .bot-tools, .top-tools {
        height: calc( 50% - 50px);
        width: 100%;
        position: relative;
        display: flex;
    }

    .top-tools {
    }

        .top-tools .video-tools {
            margin: 2rem;
        }

    .bot-tools {
        align-items: flex-end;
    }

        .bot-tools .video-tools {
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        .cont-video-ui .btn, .bot-tools .btn, .cont-btn .btn {
            padding: 0 !important;
        }

    .cont-video-ui .btn-danger {
        background-color: #EB5757;
        border-color: #EB5757;
    }

    .cont-video-ui i {
        font-size: 2rem !important;
    }

    .cont-video-ui .btn.btn-icon {
        cursor: pointer;
        height: 6rem;
        width: 6rem;
    }

        .cont-video-ui .btn.btn-icon.btn-circle {
        }

    .small-screen {
        width: 100px;
        height: 120px;
        border-radius: 10px;
        background-color: #333;
    }

    .video-tools {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .cont-btn {
        position: absolute;
        bottom: 2rem;
        width: 300px !important;
        display: flex;
        justify-content: space-between;
    }

        .cont-btn .btn-danger {
            background-color: #EB5757;
            border-color: #EB5757;
        }

    /*Old video*/

    .overlay-video {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .cont-widgets {
        overflow-y: auto;
        height: auto !important;
    }

        .cont-widgets .kt-portlet {
            min-height: 75vh;
        }
}



/*Videoconsulta*/


.video-container {
    display: flex;
    width: 100%;
    height: calc(100% - 20px);
    min-height: 75vh;
    border-radius: 10px;
    align-items: stretch;
}

    .video-container .overlay {
        border-radius: 10px;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 2;
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 74, 94, 0.8) 13.8%, rgba(20, 20, 20, 0) 99.97%);
    }

.cont-video-ui {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message-connect {
    color: #FFF;
    font-size: 1.8rem;
    text-align: center;
    width: 90%;
    max-width: 370px;
    margin: 0 auto;
}

.timer-box {
    background-color: #FFF;
    border-radius: 10px;
    width: 130px;
    color: #666;
    padding: 1rem;
    margin: 0 auto;
}

    .timer-box small {
        display: block;
        font-size: 1rem;
    }

.cont-video-ui-tools {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bot-tools, .top-tools {
    height: calc( 50% - 50px);
    width: 100%;
    position: relative;
    display: flex;
}

.top-tools {
}

    .top-tools .video-tools {
        margin: 2rem;
    }

.bot-tools {
    align-items: flex-end;
}

    .bot-tools .video-tools {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .cont-video-ui .btn, .bot-tools .btn, .cont-btn .btn {
        padding: 0 !important;
    }

.cont-video-ui .btn-danger {
    background-color: #EB5757;
    border-color: #EB5757;
}

.cont-video-ui i {
    font-size: 2rem !important;
}

.cont-video-ui .btn.btn-icon {
    cursor: pointer;
    height: 6rem;
    width: 6rem;
}

    .cont-video-ui .btn.btn-icon.btn-circle {
    }

.small-screen {
    width: 100px;
    height: 120px;
    border-radius: 10px;
    background-color: #333;
}

.video-tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cont-btn {
    position: absolute;
    bottom: 2rem;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

    .cont-btn .btn-danger {
        background-color: #EB5757;
        border-color: #EB5757;
    }

/*Old video*/

.overlay-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont-widgets {
    overflow-y: auto;
    height: auto !important;
}

    .cont-widgets .kt-portlet {
        min-height: 75vh;
    }