
.sala-espera {
    position: relative;
    overflow: hidden;
    max-width: 1700px;
    // display: none;
}

.panel-sala-espera {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 51;
  // background-color: rgba(3,3,3, .7);
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  li {
    background-color:hsla(200, 100, 18, .3);
    width: 80px;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem 0;
    transition: all .3s ease-out;
    cursor: pointer;
    &:hover {
      background-color: hsl(193, 100, 20 );
      transform: scale(1.2);
    }
  }
  a {
    color: rgba(255,255,255, .7);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    text-align: center;
    line-height: 1;
    i {
      font-size: 1.6rem;
      margin-bottom: .5rem;
    }
  }
}

.titulo-sala {
    position: absolute;
    color: #FFF;
    z-index: 10;
    left: 2rem;
    top: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    width: 150px;
    line-height: 0.9;
    text-shadow: 3px 3px 2px rgba(51, 51, 51, 1);
    small {
        font-size: 2rem;
    }
}


.hotspots {
    position: relative;
    // background-image: url(../img/fondo-sala.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
  }
  .hotspots img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  .hotspot {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    color: #FFF;
    text-align: left;
    width: 150px;
    line-height: 1;
    text-shadow: 3px 3px 2px rgba(51, 51, 51, 1);
    &:hover {
        text-decoration: none;
        color: orange;
        &::before {
            transform: scale(2);
            border: 2px solid orange;
        }
    }
    small {
      display: block;
    }
  }
  .hotspot::before {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    margin: -21px auto 1rem 3px;
    border: 4px solid rgba(255,255,255, .8);
    transition: all .3s ease-out;
  }

  /* Hotspot Icon */

  .hotspot-icon {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-decoration: none;
    transition: all .3s ease-out;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
      text-decoration: none;
      color: #FFAF36;
      .cont-icon {
        background-color: hsla(200, 100, 18, .8);
        transform: scale(1.2);
      }
    }
    .cont-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: hsla(200, 100, 18, .3);
      height: 100px;
      width: 100px;
      border-radius: 50%;
      text-decoration: none;
      transition: all .3s ease-out;
      margin-bottom: 1rem;
      i {
        font-size: 2rem;
      }
    }
  }

  #hs-a {
    top: 35%;
    left: 17%;
  }
  #hs-b {
    top: 60%;
    left: 46%;
  }
  #hs-c {
    top: 35%;
    left: 53%;
  }

  #hs-d {
    top: 35%;
    left: 62%;
  }

  #hs-e {
    top: 35%;
    left: 71%;
  }

.cont-datos {
  padding: 1rem;
  border: 1px solid #DDD;
  margin: 1rem 0;
  border-radius: .5rem;
  transition: all .3s ease-out;
  display: inline-block;
  margin-right: 0.5rem;

}

.cont-datos.datos-activos {
  border: 2px solid #3BC1CD;
  background-color: #f7f7f7;
}

.cont-datos:last-child {
  margin-right: 0;
}


.datos-personales {
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  color: #3BC1CD;
  .custom-control-label {
    color: #3BC1CD !important;
  }
}