.sala-espera-mobile {
  background-image: url(../img/fondo-sala.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-sala {
  width: 100%;
  max-width: 350px;
  border: 4px solid #FFF;
  border-radius: .5rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
}

.btn-sala {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #FFF;
}

.btn-sala:hover {
  color: #FFAF36;
}

.btn-sala:hover .cont-icon {
  transform: scale(1.2);
}

.btn-sala .cont-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  transition: all .3s ease-out;
}
/*# sourceMappingURL=sala-espera-mobile.css.map */