/* Stepper */

.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: url(img/fondo-banner.svg);
    background-repeat: repeat-x;
    background-position: left 10px;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.stepper img {
        width: 100px;
        height: 100px;
        border: 3px solid rgba(59,193,205,.5);
}
.init-step {
    width: calc(50% - 442px);
}

.cont-steps {
    width: 342px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9f9fc;
}

.step-icon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #C4C4C4;
    color: #FFF;
    border-radius: 2rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step.passed .step-icon {
    background-color: #3BC1CD;
}
.step.active .step-icon {
    background-color: #FFAF36;
}

.label-step {
    color: #666;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.step.active .label-step {
    color: #FFAF36;
}

.step.passed .label-step {
    color: #3BC1CD;
}

.stepper .flecha {
    margin-top: -20px;
    color: #3BC1CD;
}