/*Videoconsulta*/


.video-container {
    display: flex;
    width: 100%;
    height: calc(100% - 20px);
    min-height: 75vh;
    border-radius: 10px;
    align-items: stretch;
}
    .video-container .overlay {
        border-radius: 10px;
        left: 0;
        bottom: 0;
        right: 0;
        top:0;
        z-index: 2;
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 74, 94, 0.8) 13.8%, rgba(20, 20, 20, 0) 99.97%);
    }

.cont-video-ui {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message-connect {
   color: #FFF;
   font-size: 1.8rem;
   text-align: center;
   width: 90%;
   max-width: 370px;
   margin: 0 auto;
}

.timer-box {
    background-color: #FFF;
    border-radius: 10px;
    width: 130px;
    color: #666;
    padding: 1rem;
    margin: 0 auto;
}

.timer-box small {
    display: block;
    font-size: 1rem;
}

.cont-video-ui-tools {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bot-tools, .top-tools {
    height: calc( 50% - 50px);
    width: 100%;
    position: relative;
    display: flex;
}

.top-tools {
}

.top-tools .video-tools {
    margin: 2rem;

}

.bot-tools {
    align-items: flex-end;
}

.bot-tools .video-tools {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

    .cont-video-ui .btn, .bot-tools .btn, .cont-btn .btn {
        padding: 0 !important;
    }

.cont-video-ui .btn-danger {
    background-color: #EB5757;
    border-color: #EB5757;
}

.cont-video-ui i {
    font-size: 2rem !important;
}

.cont-video-ui .btn.btn-icon {
    cursor: pointer;
    height: 6rem;
    width: 6rem;
}

.cont-video-ui .btn.btn-icon.btn-circle {
}

.small-screen {
    width: 100px;
    height: 120px;
    border-radius: 10px;
    background-color: #333;
}

.video-tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cont-btn {
    position: absolute;
    bottom: 2rem;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

    .cont-btn .btn-danger {
        background-color: #EB5757;
        border-color: #EB5757;
    }

/*Old video*/

.overlay-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont-widgets {
    overflow-y: auto;
    height: auto !important;
    
}

    .cont-widgets .kt-portlet {
        min-height: 75vh;
    }